.pics__container{
  margin-top: 106px;
  width: 100vw;
  min-width: 360px;
}
.pic__item{
  list-style: none;
  margin:0px auto  20px auto ;
  height: 240px;	
  width: 335px;
  box-shadow: 0 5px 12px 0 rgba(0,0,0,0.1);
}
.pic__img{
  height: 160px;	
  width: 335px;	
  border-radius: 2px 2px 0 0;
}
.pic__author{
  height: 80px;	
  width: 335px;
  text-align: start;
  padding-left: 18px;
  font-family:$font-family;
  font-size:$font-size-item;
  color:$font-color;
  font-weight: 500;	
  line-height: 80px;
  box-sizing: border-box;
  text-transform: capitalize;
}